@font-face {
    font-family: 'HairLarge';
    src: url('./assets/hairLarge.ttf');
}

body {
    margin: 0;
    font-family: 'HairLarge', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
    font-size: 14px;
}

@media (min-width: 640px) {
    body {
        font-size: 18px;
    }
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    height: 100%;
}

p {
    margin-block-start: .7em;
    margin-block-end: .7em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a, a:hover, a:active, a:visited {
    color: #61dafb;
    text-decoration: none;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.canvasExtraBorder {
    height: 16px;
}

@media (min-width: 640px) {
    .mt-md-20 {
        margin-top: 20px;
    }

    .canvasExtraBorder {
        height: 17px;
    }
}

